// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

@import 'scrollbar';
@import 'login';
@import 'theme';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    box-sizing: border-box;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden;

}

#app {
    height: 100%;
}

a {
    color: #666;
    &:hover{
        text-decoration: none;
        svg{
            fill: #1d68a7;
        }
    }
}

.invalid-feedback {
    display: block;
    min-height: 20px;
}

.disabled {
    cursor: not-allowed;
}

.alert-panel {
    position: fixed;
    right: 2px;
    top: 95px;
}

svg {
    width: 16px;
    height: 16px;
    fill: #666;
}



