// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';
@import 'login';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-light-blue{
    background: url(../images/bg.svg),radial-gradient(farthest-side ellipse at 10% 0,#e1e5e8 10%,#9aacbf);
}
.bg-light-green{
    background: url(../images/bg.svg),radial-gradient(farthest-side ellipse at 10% 0,#e1e5e8 10%,#9abf9f);
}

#app {
    height: 100%;
}
a{
    color: #666;
}
.invalid-feedback{
    display: block;
    min-height: 20px;
}

.disabled{
    cursor: not-allowed;
}

.alert-panel{
    position: absolute;
    right: 2px;
}
svg{
    width: 16px;
    height: 16px;
    fill: #666;
}
