// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import 'scrollbar';
@import 'login';
@import 'theme';

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden;
    position: relative;
}

#app {
    width: 100%;
    height: 100vh;
    top:0;
    left:0;
    position: absolute;
    .app-wrapper {
        width: 100%;
        height: 100vh;
        display: block;
        overflow: hidden;
        position: relative;
        .main-container {
            position: absolute;
            right: 0;
            height: 100%;
            transition: width 0.2s;
            width: calc(100vw - 200px);
            .app-main {
                /*84 = navbar + tags-view = 50 +34 */
                min-height: calc(100vh - 84px);
                width: calc(100vw - 200px);
                overflow-x: hidden;
                overflow-y: auto;
                height: 100%;
                display: block;
                padding: 1.5rem 1rem 5rem 1rem;
                transition: width 0.2s;
            }
        }
    }
}

a {
    color: #666;

    &:hover {
        text-decoration: none;

        svg {
            fill: #1d68a7;
        }
    }
}

.invalid-feedback {
    display: block;
    min-height: 20px;
}

.disabled {
    cursor: not-allowed;
}

.alert-panel {
    position: fixed;
    right: 2px;
    top: 95px;
}

svg {
    width: 16px;
    height: 16px;
    fill: #666;
}



