
.default {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $default), no-repeat, fixed;
    background-size: cover;
}

.bg-dark-blue {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, $light-blue 20%, $dark-blue), no-repeat, fixed;
    background-size: cover;
}

.bg-light-blue {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $light-blue), no-repeat, fixed;
    background-size: cover;
}

.bg-light-green {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $light-green), no-repeat, fixed;
    background-size: cover;
}

.bg-light-red {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $light-red), no-repeat, fixed;
    background-size: cover;
}

.bg-blue {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $blue), no-repeat, fixed;
    background-size: cover;
}

.bg-indigo {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $indigo), no-repeat, fixed;
    background-size: cover;
}

.bg-red {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $red), no-repeat, fixed;
    background-size: cover;
}

.bg-orange {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $orange), no-repeat, fixed;
    background-size: cover;
}

.bg-yellow {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $yellow), no-repeat, fixed;
    background-size: cover;
}

.bg-pink {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $pink), no-repeat, fixed;
    background-size: cover;
}

.bg-purple {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $purple), no-repeat, fixed;
    background-size: cover;
}

.bg-green {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $green), no-repeat, fixed;
    background-size: cover;
}

.bg-teal {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $teal), no-repeat, fixed;
    background-size: cover;
}

.bg-cyan {
    background: url(../images/bg.svg), radial-gradient(farthest-side ellipse at 10% 0, #e1e5e8 10%, $cyan), no-repeat, fixed;
    background-size: cover;
}
